#LOGS
logs
*.Logs

#COMPILED DIRECTORY AND FILE
build/
bundle.js

#DEPENDENCY DIRECTORIES
node_modules/

#WEBSTORM STUFF
.idea/workspace.xml
package-lock.json
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/workspace.xml
.DS_Store
.idea/misc.xml
*.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
