.app-page{
    margin-top: 250px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -ms-transform: translateY(-50%);
    background-color: rgba(0, 2, 59, 0.8);
    border-radius: 10px;
    padding:20px;
    color:#7fddff;
}

.app-page p{
    color: #7fddff;
    font-size: 12pt;
}

.input {
    color:black;
}

.legend-val {
    color:#7fddff;
}

.item{
    padding: 100px;
}

