ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    color: white;
}

.active {
    background-color: #1A0A30;
    color:white;
    text-decoration: none;
}

.active:hover{
    color:white;
}

header {
    display: block;
    background-color: black;
    width: 100%;
    height: 50px;
    color: white;
}

a:link {
    text-decoration: none;
}